@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script>
    window.onload = function () {
        debugger;
        var sessionvalue = '@ViewBag.AccessToken';
        localStorage.setItem("token", sessionvalue);
    $.ajax({
        type: "POST",
        url: '@Url.Action("token", "Home")',
        contentType: "application/json; charset=utf-8",
        headers: { "Access-token": sessionvalue },
        dataType: "json",
        success: function (result) {
            alert(result);
            window.locationre = result.url;
        }
    });
    };
</script>
